@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model TaskManagement.Models.UserModel

<h1>Task Info Update</h1>
<form asp-action="UserEdit" asp-controller="User" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" id="Name" asp-for="Name" class="form-control" />
        @* <span asp-validation-for="TaskName" class="text-danger"></span> *@
    </div>
    <div class="form-group">
        <label asp-for="Contact"></label>
        <textarea id="Contact" asp-for="Contact" class="form-control"></textarea>
        @* <span asp-validation-for="TaskDescription" class="text-danger"></span> *@
    </div>
    <input type="submit" value="Update"/>
    </form>