@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model TaskManagement.Models.TaskInfoModels

<h1>Employee form</h1>
<form asp-action="Create" asp-controller="TaskInfo" method="post" enctype="multipart/form-data">
    @* <label for="id">Id</label><br />
    <input type="text" id="id" asp-for="Id" required /><br /><br /> *@

    <label for="name">Task Name</label><br />
    <input type="text" id="name" asp-for="TaskName" required /><br /><br />

    <label for="description">Task Description</label><br />
    <input type="text" id="description" asp-for="TaskDescription" required /><br /><br />

    <input type="submit" value="Submit" />
</form>