@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model TaskManagement.Models.TaskInfoModels

<div class="crud" style="width: 18rem;">
    @* <img class="crud-img-top" src="..." alt="Card image cap"/> *@
    <div class="card-body">
        <p class="card-text">Task Name: @Model.TaskName</p>
        <p>Task Description: @Model.TaskDescription</p>
    </div>

</div>